<html>

<head>
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="4">
</head>

<body>

    <a href="/subs">Subs</a>

    <div>instances count: {{status.insts|length}}</div>
    {% for inst in status.insts %}
    <div>
        <p>
            <span>instance: {{inst.id}},</span>
            <span>active cameras: {{inst.cc}},</span>
            <span>fps: {{'%0.2f' % inst.fps|float}},</span>
            <span>fix fps: {{'%0.2f' % inst.fixfps|float}},</span>
            <span>fps/cam: {{'%0.2f' % inst.fpspc|float}},</span>
            <span>{{inst.comments}},</span>
        </p>

        <table>
            {% for proc in inst.procs %}
            <tr>
                <td>process: {{proc.id}},</td>
                <td>active cameras: {{proc.cc}},</td>
                <td>fps: {{'%0.2f' % proc.fps|float}},</td>
                <td>prev: {{'%0.0f' % proc.prev|float}} s,</td>
                <td>last: {{'%0.0f' % proc.last|float}} s,</td>
                <td>assigned cameras: {{proc.cids|string}}.</td>
                <td>{{proc.comments|string}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    {% endfor %}

    <div>total cameras: count: {{status.active_cameras|length}}, {{status.active_cameras|string}}</div>
    <div>free cameras: {{status.free_cameras|string}}</div>


    <br>
    <h2>Status 2</h2>
    <div>instances count: {{status2|length}}</div>
    {% for inst in status2 %}
    <div>
        <h3>instance: {{inst.id}}</h3>
        <div>fps: {{'%0.2f' % inst.fps|float}}</div>
        <div>fix fps: {{'%0.2f' % inst.fix_fps|float}}</div>
        <div>cam count: {{inst.cam_count}}</div>
        <table>
            <tr>
                <th>proc id</th>
                <th>status fps</th>
                <th>cam count</th>
                <th>last time</th>
            </tr>
            {% for proc in inst.procs %}
            <tr>
                <td>{{proc.id}}</td>
                <td>{{'%0.2f' % proc.tot_fps|float}}</td>
                <td>{{proc.cam_count}}</td>
                <td>{{'%0.1f' % proc.last_time|float}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    {% endfor %}


</body>

</html>